
body.has-navbar-fixed-top {
    padding-top: 1vw;
}

section.hero-image {
    background: linear-gradient(180deg,rgba(223, 223, 223, 0.12), black ), url('../images/portfolio-pic.jpg');
    background-size: cover;
}

.section.is-large {
    padding-top: 0;
}

div.info {
    margin-left: 48vw;
}

.section-spacing {
    padding-left: 10vw;
    padding-right: 10vw;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}