body {
    background: white;
}

.content-body {
    background: linear-gradient(180deg, #5E6473, #222529);
}

body.has-navbar-fixed-top {
    padding-top: 0;
}

section {
    color: white;
}

section.hero-image {
    background: linear-gradient(180deg,rgba(223, 223, 223, 0), #5E6473 ), url('../images/portfolio-pic.jpg');
    background-size: cover;
}

.section.is-large {
    padding-top: 0;
}

div.info {
    margin-left: 48vw;
}

.section-spacing {
    padding-left: 9vw;
    padding-right: 9vw;
    padding-bottom: 15vw;
}

.bio-spacing {
    padding-left: 13vw;
    padding-right: 13vw;
    padding-bottom: 3vw;
    padding-top: 5vw;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-spacing {
    padding-bottom: 1.2vw;
}

.footer {
    background: #3C3F47;
}

.btn-spacing {
    margin-right: 1vw;
}

.info-spacing {
    margin-bottom: 10vw;
}

.image-border {
    box-shadow: 10px 10px 20px black;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 20;

}

.navbar-name {
    font-size: 25px;
    padding-left: 5vw;
    font-weight: bold;
    color: #3D4149;
    font-family: 'Inconsolata', monospace;
}

.navbar-right {
    font-size: 20px;
    padding-right: 5vw;
    color: #3D4149;
}


@media (max-width: 769px) {
    .hero-body {
        padding-top: 12vh;
    }

    .main-blurb {
        font-size: 4vw;
    }
    
    .main-text {
        font-size: 3.5vw;
    }
}